* {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: #232323;    
}

/* Navigation Bar */
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ebebeb;
    color: black;
    font-size: 20px;
}
#navbar li a {
    display: inline-block;
    text-decoration: none;
    padding: 20px 16px;
    
}

#navbar li a:hover {
    background-color: #8f8f8f;
}


/*Oppskrift*/
/* Main section*/
.mainOppskrift {
    width: 1000px;
    height: 2000px;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}

/* Image, title and desctription*/

header {
    display: row;
    flex-direction: column;
    align-items: flex-start;
    
}

header img {
    display: flex;
    width: 1000px;
    height: 400px; 
    object-fit: cover;   
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 50px;
}

h1 {
    font-size: 50px;
}

.tidsbruk {
    list-style-type: none;
}



/* Ingredients and instructions */

.oppskrift {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ingr {
    list-style: none;
    padding-left: 0px;
    border-right: 1px solid #d4d4d4 ;
}

.fremgang {
    margin-left: 40px;
}
.frem {
    padding-left: 1em;
}

/*Middagsvelger*/

.mainMiddagsvelger {
    width: 750px;
    height: auto;

}

.mainMiddagsvelger img {
    display: flex;
    width: 750px;
    height: 400px;
    object-fit: cover;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}
section button {
    background-color: #ebebeb;
    border: none;
    color: #232323;
    padding: 15px 32px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/*Front page*/

.mainFrontPage {
    text-align: center;
    color: #ebebeb;
}




    