* {
    box-sizing: border-box;
}

body {
    background-color: #FFFDFD;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #545058;
    color: #fffdfd;
}



#navbar li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    
}

#navbar li a:hover {
    background-color: #7C7881;
}

main {
    width: 1000px;
    
}
header img {
    display: flex;
    
    margin-top: 50px;
    width: 1500px;
    height: 750px; 
    object-fit: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.informasjon {
    display: flex;

}





    