* {
    box-sizing: border-box;
}

body {
    background-color: #232323;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    color: #232323;    
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #545058;
    color: #fffdfd;
}



#navbar li a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 16px;
    
}

#navbar li a:hover {
    background-color: #7C7881;
}

main {
    width: 1000px;
    background-color: #ebebeb;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    
}

header img {
    display: flex;
    width: 1000px;
    height: 400px; 
    object-fit: cover;
    
}

h1 {
    font-size: 50px;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#informasjon {
    display: flex;
    justify-content: space-evenly;

}

#fremgangsmate {
    display: flex;
    justify-content: center;
}





    